<!doctype html>
<html lang="en" ng-app="ang_prototype">
<head>
    <meta charset="UTF-8">
    <title>Angular Services Intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body>
    <div ng-controller="mainController as mc">
        <input type="text" placeholder="Artist Name" ng-model="mc.artistName">
        <button ng-click="mc.getData()">Search</button>
        <table>
            <tbody>
            <tr>
                <th>Artist Name </th>
                <th>Song Title</th>
                <th>Cover</th>
            </tr>
            <tr ng-repeat="info in mc.results">
                <td>{{info.artistName}}</td>
                <td>{{info.trackName}}</td>
                <td><img ng-src="{{info.artworkUrl30}}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<script src="script.js"></script>
</body>
</html>